/* Home.css */

.home-container {
    display: flex;
    height: 100vh; /* Adjust height as needed */
  }

  
  .sidebar {
    background-color: #fafafa;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  
  .recipes {
    width: 70%;
    background-color: #ffffff;
    padding-left: 30px;
  }
  