/* Profile.css */

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-header h1 {
  font-size: 24px;
  font-weight: bold;
  color: #262626; /* Instagram's primary text color */
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.avatar-section {
  flex: 1;
  margin-right: 20px;
}

.avatar-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.selected-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.avatar-section input[type="file"] {
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.avatar-section button {
  background-color: #3897f0; /* Instagram's primary color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.profile-form {
  flex: 2;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #262626; /* Instagram's primary text color */
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb; /* Instagram's input border color */
  border-radius: 5px;
}

.error {
  color: #ed4956; /* Instagram's error message color */
  font-size: 14px;
}

.update-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3897f0; /* Instagram's primary color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.profile-message {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  background-color: #def7ec; /* Instagram's success message background color */
  border: 1px solid #7ed6df; /* Instagram's success message border color */
  border-radius: 5px;
}

/* Styling for the link to go back to the home page */
.home-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #3b82f6; /* Blue color */
  text-decoration: none;
  transition: color 0.3s ease; /* Adding smooth transition */
}

.home-link:hover {
  color: #2563eb; /* Darker blue on hover */
}
